<section class="city-search">
  <form [formGroup]="cityForm" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <h3>Oblast: <span class="theme">{{ area }} </span> </h3>
    <h3 >Vreme: <span class="theme"> {{ ticks >= 0 ? ticks :'isteklo' }} </span> </h3>
    <div class="input-container">
      <input class="top" [formControl]="cityForm.controls['city']" [(ngModel)]="city" (input)="findCities($event.target.value)"  required #input>
      <button type="submit" [disabled]="!cityForm.valid">Dodaj u listu</button>
      <autocomplete *ngIf="showAutocompleteResults" (onNotifyAutocomplete)="onNotifyAutocomplete($event)" [autocompleteResults]="autocompleteResults"></autocomplete>
      <p class="err" *ngIf="!cityForm.controls['city'].valid && cityForm.controls['city'].touched">Input mora da sadrzi vrednost</p>
      <p class="err" *ngIf="cityAlreadyInTheList">Grad vec postoji u listi</p>
      <p class="err" *ngIf="cityDoesNotExist">Trazeni grad ne postoji</p>
    </div>
  </form>
  <button class="finish" [disabled]="correctAnswer" (click)="isCorrect()">Zavrsi test</button>
</section>


