body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}
header {
  display: table;
  background: url("./assets/img/cities.jpg");
  width: 100%;
  height: 300px;
  color: white;
  text-align: center;
  font-size: 30px;
  color: #f1c40f;

  h1 {
    cursor: pointer;
  }
}
.cities-list {
  margin: 20px auto;
  width: 40%;
}
.city-element {
  box-shadow: 1px 1px 6px #ccc;
  padding: 10px;
  margin: 10px 0;
}

.tooltip {
  position: absolute;
  padding: 3px;
  font-size: 12px;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #ccc;
  text-align: left;
}

.info {
  color: rgba(95, 95, 95, 0.51);
  font-weight: bold;
}
.city-search {
  display: table;
  margin: 20px auto;
  text-align: center;

  label {
    font-weight: bold;
    margin-right: 20px;
  }

  button, input {
    font-size: inherit;
    font-family: inherit;
  }

  input {
    float: left;
    margin: 0;
    padding: 4px 5px;
    outline: none;
    width: 250px;
    height: 25px;
    border: 1px solid gray;
    border-right: none;
  }

  button {
    float: left;
    height: 35px;
    outline: none;
    background-color: #2ecc71;
    border: none;
    box-shadow: none;
    cursor: pointer;
    color: white;
  }

  button:hover {
    background-color: #27ae60;
  }

  .finish {
    float: none;
    margin: 25px auto 0;
  }
  .input-container {
    position: relative;
    display: table;
    margin: 0 auto;
  }

  autocomplete {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
  }

  .autocomplete-container {
    width: calc(100% - 1px);
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .autocomplete-item {
      width: 100%;
      border-bottom: 1px solid gray;
      line-height: 25px;
      padding-left: 5px;
      text-align: left;
      cursor: pointer;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      &:hover {
        background-color: lightgray;
      }
    }
  }
  .city {
    padding: 10px;
    color: black;
  }
  .city:hover{
    background: #c2c2c2;
  }
}

@media screen and (max-width: 768px) {
  .cities-list {
    width: 80%;
  }
}
:host {
  float: left;
  margin-top: 10px;
  width: 25%;
  padding: 10px;
}

h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 18px;
}

button {
  font-size: 14px;
  font-family: inherit;
  background-color: #3498db;
  box-shadow: 1px 1px 1px #95a5a6;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: #2980b9;
}

button[disabled]:hover {
  background-color: #2ecc71;
  cursor: auto;
}
.col-1 {
  display: inline-block;
  width: 40%;
}
.col-1 h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 22px;
}
.top {
  margin-top: 10px;
}
.progress-bar-container {
  width: 300px;
  height: 50px;
  margin: 0 auto;
  border: 2px solid black;
}

.progress-bar {
  height: 100%;
  background-color: green;
  -webkit-transition: width 2s ease, height 2s ease;
  -moz-transition: width 2s ease, height 2s ease;
  -o-transition: width 2s ease, height 2s ease;
  -ms-transition: width 2s ease, height 2s ease;
  transition: width 2s ease, height 2s ease;
}
p {
  text-align: center;
  font-size: 15px;
  color: black;
}
.err{
  color: firebrick;
}
.theme{
  color: #f1c40f;
}
.result{
  margin: 0 auto;
  color: #2980b9;
}
