<h3 class="result">Pogodili ste {{ correctAnswers }} odgovora od mogucih {{ allCorrectCities }}</h3>
<progress-bar *ngIf="showResults" [percentage]="percentage" (notify)='onNotify($event)'></progress-bar>
